.Logo {
    background: url('images/logo.png') no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    display: inline-block;
}html {
    background: #292727;
    color: #46a4ca;
    font-family: Roboto, sans-serif;
}